.grid-container {
    max-width: 1440px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 24px;
  }
  
  .grid-item {
    background-color: #ffffff;
    padding: 0px;
    text-align: left;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif; /* Added font family */
 

  }
  
  @media screen and (max-width: 1439px) {
    .grid-container {
      max-width: 1024px;
      grid-gap: 16px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .grid-container {
      max-width: 960px;
      grid-gap: 16px;
    }
  }
  
  @media screen and (max-width: 959px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-gap: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .grid-container {
      grid-gap: 16px;
    }
  }
  